* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Task 1 */

nav {
  width: 100%;
  height: 100%;
  background-color: #34699a;
  color: white;
  padding: 20px;
}

li {
  display: inline;
  padding: 15px;
  list-style: none;
  /* border: 1px solid white; */
  width: 200px;
  text-align: center;
}

/* Task 1 */

/* Task 2 */
.navbar-flex nav {
  background-color: #273f4f;
  color: white;
  font-weight: bold;
}

.navbar-flex ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
/* Task 2 */

/* Task 3 */

.container {
  display: grid;
  grid-template-columns: repeat(7, 80px);
  grid-template-rows: repeat(5, 40px);
  grid-template-areas: "row1 row1 row1 row1 row1 row1 row1";
  align-items: center;
  text-align: center;
  gap: 10px;
}

.container div {
  padding: 10px;
  background-color: #e5edff;
  border-radius: 20px;
}

div .grid-span {
  grid-row-start: 2;
  grid-column-start: 1;
  grid-column-end: 3;
  word-spacing: 20px;
}

div .gray {
  background-color: #f3f5f6;
}

div .blue {
  background-color: blue;
  color: white;
}

div .output {
  grid-area: row1;
  text-align: right;
}

/* Task 3 */

/* Large screen */

@media only screen and (max-width: 1024px) {
  /* Task1 */
  li {
    display: block;
  }
  /* Task 2 */
  .navbar-flex ul {
    flex-direction: column;
  }
}

/* Medium screen */

@media only screen and (max-width: 768px) {
  /* Task 1 */
  li {
    display: inline;
  }

  /* Task 2 */
  .navbar-flex ul {
    flex-direction: row;
  }
}
